@font-face {
    font-family: 'East Sea Dokdo';
    src: url('/East_Sea_Dokdo/EastSeaDokdo-Regular.ttf');}

    h2 {
        font-family:"East Sea Dokdo";
    }

    h3 {
        font-family:"East Sea Dokdo";  
    }
    

